<html>
    <head>
        <title>My whole world</title>
    </head>
    <body>
        <div>
            <h1><a href="">My whole world</a></h1>
        </div>

        <div>
            <p>published: 15.08.2016, 21:29</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>Witam na moim blogu :)</p>
        </div>

        <div>
            <p>published: 15.08.2016, 21:31</p>
            <h2><a href="">Coś o kimś</a></h2>
            <p>Poznajmy się :)</p>
        </div>
    </body>
</html>
